/*  your css code here. If applicable */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  border: 1px solid #888;
  width: 60%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
    padding: 2px 16px;
}

.close-modal {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover {
  color: black;
}